body {
    background-color: #1A1A1A;
    margin: 0px;
    padding: 0px;
}

.avatar {
    box-sizing: border-box;
    border: 4px solid #262626;
    height: 540px;
    margin-left: 240px;
    width: 450px;
    padding-left: 50px;
    padding-right: 50px;
}

.avatar__photo {
    height: 500px;
    width: 350px;
}